/* Page1 */

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Les variable CSS */
:root{
    /* Couleur */
    --couleur_titre: #1baed7;
    --couleur_fond: #0a1128ea;
    --couleur_text: #FEFCFB;
    /* --couleur_sombre: #ffffff; */
    /* Police */
    --titre: 'poppins',sans-serif;
    --corps: "Roboto", sans-serif;
    /* Espacement */
    --espace: 20px;
}

  /* Style de base  */
body{
    font-family: var(--corps);
    background-color: var(--couleur_fond);
    color: var(--couleur_text);
    padding-top: 65px;
    line-height: 1.7;
}

/* Layout général */
/* NAVBAR  */
.header1{
    width: 700px;
}
.navbar-brand{
    font-weight: bold;
    font-size: 20px;
    color: var(--couleur_text);
}
.navbar-nav{
    align-items: center;
}
.nav-link:hover{
    color: var(--couleur_titre);
    transform: scale(1.06);
}

 /* Titre  */
h1, h2, H3, h4, h5{
    font-family: var(--titre);
    color: var(--couleur_titre);
    font-weight: bold;
}

/* pied de page  */
footer{
    background-color: var(--couleur_fond);
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}

/* SECTION HERO */
#hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fond_hero1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: var(--espace);
    /* margin-top: var(--espace); */
    width: 100%;
    margin-top: 0;
}
/* Typographie expresisive */
#hero h1{
    font-size: 40px;
    line-height: 1.5;
}
#hero p{
    font-size: 18px;
}
#hero{
    margin-bottom: var(--espace);
}
#hero .btn-hero1, .btn-hero2{
    font-weight: 500;
}
#hero .btn-hero1{
    margin-right: 2em;
}
.btn-hero1:hover, .btn-hero2:hover{
    transform: scale(1.05);
}
.row-hero div{
    font-size: 18px;
}


/* SECTION « COMMENT ÇA MARCHE » */
.cont1{
    text-align: center;
    /* width: 100vw; */
}
.bento-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(1, 300px); */
    gap: var(--espace);
    /* justify-items: center; */
    width: 100%;
    /* height: 100%; */
}
.carte1, .carte2, .carte3{
    background: var(--couleur_text);
    color: rgba(0, 0, 0, 0.941);
    border-radius: 20px;
    text-align: center;
    transition: all 0.03s ease;
    cursor: pointer;
    /* width: 200px; */
    /* height: 100%; */
}
.num-card{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--couleur_titre);
}
.carte1{
    /* grid-row: 1 / 1; */
    grid-column: 1 / 4;
}
.carte2{
    grid-row: 1 / 1;
    grid-column: 4 / 6;
}
.carte3{
    grid-row: 2 / 2;
    grid-column: 1 / 6;
}
.carte1:hover, .carte2:hover, .carte3:hover{
    transform: translateY(-8px);
    background-color: var(--couleur_fond);
    color: var(--couleur_text);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}
/* Section Services */
.service-carte{
    transition: all 0.6s ease;
    cursor: pointer;
    border-radius: var(--espace);
}
.service-carte:hover{
    transform: translateY(-10px);
    background-color: var(--couleur_fond);
    color: var(--couleur_text);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Section Temoignages */
#temoignages{
    width: 100vw;
}
.cnt-tmgne{
    width: 100%;
}
/* .carousel-item{
    width: 450px;
} */
 .carousel-img{
    height: 80vh;
    width: 100%;
    /* border-radius: 15%; */
    object-fit: cover;
 }
/* Section Services */
.service-carte{
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: var(--espace);
}
.service-carte:hover{
    transform: translateY(-8px);
    background-color: var(--couleur_fond);
    color: var(--couleur_text);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Page3 */
/* Section 3 plans tarifaires */
.carte-plan1, .carte-plan1 a{
    border: 3px solid var(--couleur_titre);
    border-radius: var(--espace);
}
.carte-plan, .carte-plan a{
    border-radius: var(--espace);
}


/* Page4 */
/* Section « Notre Histoire » */
.h2-hist{
    padding-top: var(--espace);
    margin-top: var(--espace);
}
.container-hist{
    display: flex;
}
.container-hist img{
    width: 50%;
    border-radius: 20px;
}
.text-hist {
    padding-top: 6em;
    line-height: 2em;
}
/* Section « L'équipe »  */
.a-carte{
    text-decoration: none;
}
.carte-Equipe{
    border-radius: var(--espace);
}
.carte-Equipe img{
    border-radius: var(--espace);
}
/* Section « Nos valeurs » */
.carte-valeur{
    border-radius: var(--espace);
}
/* Section « Chiffres clés » */
.chiffres-grid{
    display: grid;
    /* grid-template-rows: repeat(1,100px); */
    grid-template-columns: repeat(5, 1fr);
    gap: var(--espace);
    text-align: center;
}
.chifres-carte1, .chifres-carte2, .chifres-carte3, .chifres-carte4{
    background-color: var(--couleur_text);
    color: var(--couleur_fond);
    border-radius: 15px;
}
.chifres-carte1{
    grid-column: 1/3;
}
.chifres-carte2{
    grid-row: 1/2;
    grid-column: 3/6;
}
.chifres-carte3{
    /* grid-column: 1/3; */
    grid-row: 2/5;
}
.chifres-carte4{
    grid-column: 2/5;
    grid-row: 2/5;
}


/* Page5 */
/* Section formulaire */
.cnt-container{
    display: flex;
    justify-content: space-around;
}
.contact{
    margin-top: 8em;
    width: 230px;
    line-height: 2em;
}
.div-form form{
    width: 210px;
}
.div-form input,.sujet-form, .option-form, textarea, .btn-form{
    width: 18em;
    border-radius: var(--espace);
    text-align: center;
}
/* Carte Google Maps */
.carte-iframe{
    text-align: center;
}